---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
---

<Layout title="My Weather App">
	<Header></Header>
	<main>
		<div id="input-container">
			<form>
				<input type="text" autocomplete="country-name" placeholder="Enter countries...">
				<button type="submit">
					Consult!
				</button>
				<button type="reset">
					Restart
				</button>
			</form>
		</div>

		<div id="cards-container">
		</div>

	</main>
</Layout>
<style>
	main{
		margin: 50px 80px;
	}
	input{
		width: 330px;
		height: 55px;
		background: rgba(17, 25, 64,0.1);
		border-radius: 10px;
		outline: none;
		text-align: center;
		font-size: 16px;
	}
	input::placeholder{
		color: var(--main-color);
		font-size: 16px;
		text-align: center;
	}
	input:focus,
	input:hover{
		background: rgba(17, 25, 64, 0.2);
	}
	button{
		cursor: pointer;
		margin-left: 16px;
		border: none;
		width: 158px;
		height: 55px;
		color: white;
		background: var(--main-color);
		box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}
	button:hover{
		transform: scale(1.1);
	}
	#card-container{
		flex-wrap: wrap;
		justify-content: center;
		display: flex;
		gap: 35px;
		margin-top: 67px;
	}
</style>
