---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap" rel="stylesheet">
		<title>My Weather App</title>
	</head>
	<body>
		<header>
			<div class="info">
				<h1>My Weather App</h1>
				<img src="">
			</div>
			<ul>	
				<li>
					<a>
						Get to know the API
					</a>
				</li>
				<li>
					<a>
						Contact me
					</a>
				</li>
				<li>
					<a>
						Source
					</a>
				</li>
			</ul>
		</header>
	</body>
</html>
